
:root {
    --toolbar-height: 32px;
}

html {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100svh;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}


#hamburger {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: var(--toolbar-height);
    height: var(--toolbar-height);
    font-family: monospace;
    background-color: aqua;
}


#toolbar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--toolbar-height);
    background-color: darkblue;
    box-shadow: 0.3em 0.3em 1.0em #000;
}

#progress {
    margin-right: 2em;
}


#settings {
    position: fixed;
    z-index: 10;
    top: var(--toolbar-height);
    left: -51vw;
    width: 50vw;
    height: calc(100vh - var(--toolbar-height));
    padding-top: var(--toolbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: slateblue;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


#settings > div {
    display: flex;
    width: 48vw;
    justify-content: space-around;
    margin: 0.5em;
}


#settings.active {
    left: 0;
}


#content {
    padding-top: var(--toolbar-height);
    padding-left: 12vw;
    padding-right: 12vw;
}


/* color themes */

.Day > #content {
    background-color: white;
    color: black;
}

.Day > #toolbar {
    background-color: black;
    color: white;
}

.Night {
    background-color: black;
    color: darkgray;
}

.Sepia {
    background-color: cornsilk;
    color: saddlebrown;
}

.Twilight > #content{
    background-color: darkslategray;
    color: skyblue;
}

.Twilight > #toolbar{
    background-color: skyblue;
    color: darkslategray;
}

.Console {
    background-color: darkslategray;
    color: green;
}


/* fonts */

.Arial {
    font-family: Arial, sans-serif;
}

.Helvetica {
    font-family: Helvetica, sans-serif;
}

.Georgia {
    font-family: Georgia, serif;
}

.Verdana {
    font-family: Verdana, sans-serif;
}


/* sizes */

.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

.xxx-large { 
    font-size: xxx-large;
}